@import "normalize";
$total-columns: 24;
$row-width: rem-calc(1200);
@import "foundation";

// Reveal modal background height fix.
.reveal-modal-bg {
  position: fixed;
}

// VARIABLES
// ******************

$smaller-range: (0rem, 32.500rem); // 0px, 520px
$smaller-only: "#{$screen} and (max-width: #{upper-bound($smaller-range)})";

$mce-yellow: #D6EE1A;
$dark-color: black;
$button-size-lt1024: 1.25rem;

$jitter-font: "Lato";
$modal-workshop-h1-size: 2.4rem;
$modal-speaker-h1-size: 1.35rem;
$modal-speaker-h3-size: 1.1rem;

// -------------------

// EXTENDABLES
// *******************

.tags {
//  display: inline;
  margin-right: 2px;
  background: #d6ee1a;
  padding: 0.1rem 0.5rem;
  text-transform: uppercase;
}

.mce-button {
  background-color: $mce-yellow;
  color: $dark-color;
  font-size: $button-size-lt1024;
  /*padding: 1.3rem 7.5rem;*/
  padding: 0.625rem 2.5rem; /* 12px 48px */
  /*15px 60px for desktop*/
  cursor: pointer;

  &:hover {
    background: black;
    color: $mce-yellow;
  }
}

// -------------------

h1, h2, h3, h4, h5, h6, p {
  font-family: $jitter-font;
}

//.row {
//  max-width: 70rem;
//}

.ember-view {
  overflow-x: hidden;
}

// MEDIA QUERIES
// *************

@media #{$smaller-only} {

  section#jitter {
    .workshop-session {
      .workshop-register {
        display: block;
      }
    }
  }
}

@media  #{$small-up} {

  section#header-bar {
    height: 4.75rem;
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
    .top-bar {
      background-color: black;
      height: 4.75rem;
      line-height: 4.25rem;

      .logo-event {
        max-width: 11rem;
        margin-left: 1rem;
      }
    }
  }

  section#header {

    .agenda-button {
      margin-top: 2rem;
      text-align: center;
    }

    .booking-info {
      font-size: 1.1rem;
    }
    .session-times {
      display: none;
    }
  }

  section#jitter {

    .row-wrapper {
      border: 0 solid black;
      border-bottom-width: 1px;
      &:first-child {
        border-top-width: 1px;
      }
      &.attending {
        background-color: #f5f6d1;
      }
      transition: background-color 300ms ease-out;
      padding: 1rem 0 0.5rem 0;

      .workshop-meta {
        //        padding-right: 0;

        .workshop-description {
          //          padding-left: 1.875rem;
          //          padding-right: 0;
        }

        .columns:first-child {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }


    .image-tags {
      text-align: center;
    }

    .workshop-session {

      .session-times {
        display: inline-block;
        font-size: 0.7rem;
      }

      &.no-register {
        button, span.workshop-spots {
          display: none;
        }

        .session-times {
          display: none;
        }

        span.no-attendance-info {
          display: block;
          font-weight: 300;
        }
      }
    }

    .workshop-register {
      display: inline-block;
    }

    h6 {
      &.workshop-tags-small {
        display: block;
        font-size: 0.6rem;
        text-align: center;
        margin-top: 0.5rem;
        padding: 0.1rem 0.2rem;
      }
      &.workshop-tags-mediumup {
        display: none;
      }
      &.workshop-speaker {
        font-size: 1rem;
        font-weight: 300;
      }
      &.workshop-name {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    button {
      border: 1px solid black;
      border-radius: 1000px;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      margin: 0;
      background-color: transparent;
      &[disabled] {
        border-color: #cccccc;
      }
      &.success {
        background-color: #a1e213;
      }
    }
    .workshop-session {
      span.workshop-spots {
        font-size: 0.8rem;
      }
    }

    .agenda-button {
      text-align: center;
      margin: 4rem 0rem;
    }

  }

  div#modal {
    max-width: 64rem;
  }
}

@media #{$medium-up} {

  section#header-bar {
    .top-bar {

      .logo-event {
        max-width: 14.35rem;
      }
    }
  }

  section#header {
    .session-times {
      display: block;
    }
      .booking-info {
        font-size: 1.6rem;
      }
  }
  section#jitter {
    .workshop-session {

      padding-left: 0.9375rem;
      padding-right: 0.9375rem;

      &:nth-child(2) {
        padding-left: 0;
      }

      .session-times {
        display: none;
      }
      button {
        height: 1.7rem;
        width: 1.7rem;
      }
    }
    .workshop-description {
      h6 {
        &.workshop-tags-mediumup {
          display: inline;
        }
        &.workshop-speaker {
          font-size: 1.2rem;
        }
        &.workshop-name {
          font-size: 1.4rem;
        }
      }
    }
    h6.workshop-tags-small {
      display: none;
    }
  }
}

@media #{$medium-only} {
  section#jitter {
    .workshop-session {
//      &:nth-child(2) {
//        padding-left: 0;
//      }
      &:nth-child(3) {
        padding-right: 0;
      }
    }
  }
}

@media #{$large-up} {
  section#jitter {
    .workshop-register {
      button {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}


// -------------



section#header {

//  font-family: $jitter-font;

  .hello {
    padding-top: 0.5rem;
  }

  .booking-info, .session-times {
    padding: 2rem 0 1rem;
  }

  .session-times {
    font-weight: bold;
    font-size: 0.8rem;
  }
}

section#jitter {

  h6 {


    &[class^='workshop-tags-'] {
      @extend .tags;
    }

  }

  .workshop-session {

    span.no-attendance-info {
      display: none;
    }

    span.workshop-spots {
      vertical-align: super;
      display: inline;
      font-size: 1rem;
    }

    &[disabled] {
     button, span.workshop-spots {
       display: none;
     }
      span.no-attendance-info {
        display: block;
      }
    }
  }

  .session-times {
    display: none;
  }
}

div#modal {


  p {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .row:first-child {
    margin-bottom: 2rem;

  }

  .row:nth-child(2) {

    h1 {
      font-size: $modal-speaker-h1-size;
      margin-top: 1rem;
    }

    h3 {
      font-size: $modal-speaker-h3-size;
      font-weight: 300;
      margin-bottom: 1.2rem;
    }

    .columns:last-child {
      float: left;
    }

  }

  .workshop-modal-tags {
    @extend .tags;
    display: inline;
  }
}