<div class="row">
    <div class="small-12 columns">
        <h1>Please wait while your account is being fetched...</h1>
    </div>
</div>

<div id="modal" class="reveal-modal" data-reveal>
    <h1>Oops...</h1>

    <p>It seems you entered wrong address. Please enter the address from email or contact our team.</p>

    <a class="close-reveal-modal">&#215;</a>
</div>